NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD7wbV9NWyBmPN_UXVigm0eRTiDPhNqSfU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=smartpark-3ef6a.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=smartpark-3ef6a
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=smartpark-3ef6a.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=745122267846
NEXT_PUBLIC_FIREBASE_APP_ID=1:745122267846:web:df26eec0b5f5e259cd4dc7
NEXT_PUBLIC_COMPANY_NAME=SmartPark
NEXT_PUBLIC_COMPANY_DOCUMENT=00.000.000/0001-00
